@use "../styles/fonts";
@use "../styles/variables";
@use "../styles/components/header";
@use "../styles/components/card-list";
@use "../styles/components/loading";
@use "../styles/components/card";
@use "../styles/components/update-btn";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-base);
  background-color: var(--bg);
  color: var(--fc);
}

main {
  padding: clamp(1.5em, 4vw, 4em);
}

ul {
  list-style: none;
}
