:root {
  --bg: #fff;
  --bg-grey: rgba(182, 182, 195, 0.6);
  --bg-muted: rgba(225, 225, 225, 0.05);

  --fs-xs: 1.2rem;
  --fs-base: 1.6rem;
  --fs-s: 1.8rem;
  --fs-lg: 2rem;
  --fs-xl: 2.4rem;
  --fs-2xl: 4.8rem;

  --shadow: 0 0 8px rgba(0, 0, 0, 0.35);
  --drop-shadow: 2px 3px 2px rgba(0, 0, 0, 0.35);

  --fc: #000;
  --fc-muted: rgba(0, 0, 0, 0.8);
  --fc-orange: rgba(248, 126, 33, 0.85);
}

[data-theme="dark"] {
  --bg: #0f171a;
  --bg-grey: rgba(71, 85, 105, 0.6);
  --bg-muted: rgba(15, 23, 26, 0.05);

  --fs-base: 1.6rem;
  --fs-lg: 1.8rem;
  --fs-xl: 2.4rem;
  --fs-2xl: 4.8rem;

  --shadow: 0 0 8px rgba(225, 225, 225, 0.35);

  --fc: #fff;
  --fc-muted: rgba(225, 225, 225, 0.8);
}
